@import "../../styles/global.scss";

.Searcher {
    display: flex;
    justify-content: center;
    padding: $size-1 0;
    background-color: $colorOne;
    box-shadow: $shadow;

    &__form {
        display: flex;
    }

    &__select {
        margin-right: $size-1;
        padding: $size-0-5;
        border-radius: $size-0-5;
        border: 1px solid $colorThree;
        color: $colorThree;
        font-weight: bold;
    }

    &__name {
        border-radius: $size-0-5 0 0 $size-0-5;
        border: 1px solid $colorThree;
        background-color: $colorBlank;
        padding: $size-0-5;
        color: $colorThree;
        font-weight: bold;

        &::placeholder {
            font-weight: normal;
            color: $colorThree;
        }
    }

    &__submit {
        border-radius: 0 $size-0-5 $size-0-5 0;
        border: 1px solid $colorThree;
        background-color: $colorThree;
        padding: $size-0-5;
        color: $colorBlank;
        font-weight: bold;
        cursor: pointer;
    }
}