$colorOne: #e6bc2f;
$colorTwo: #30a7d7;
$colorThree: #4dad5b;
$colorFour: #E3350D;
$colorFive: #919191;
$colorSix: #ee6b2f;
$colorSeven: #855ac9;
$colorBlank: #fff;

$colorFire: #E3350D;

$size-1: 16px;
$size-0-5: 8px;
$size-2: 32px;

$shadow: 1px 1px 2px rgba(0, 0, 0, .1);

$xsWidth: 400px;
$smWidth: 576px;
$mdWidth: 768px;
$lgWidth: 992px;
$xlWidth: 1200px;